In [33]:
%pip install seaborn

Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.0.0)
Requirement already satisfied: pandas>=1.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_excel('../data/health_screenings_2020_1000ea.xlsx')

In [35]:
data1 = data.loc[:, ['gender', 'height', 'weight', 'waist', 'smoking', 'drinking']]
# data1.loc[data1['gender']==1, ['gender']]
drinking = data1.groupby(['gender', 'drinking'])['drinking'].count()
smoking = data1.groupby(['gender', 'smoking'])['smoking'].count()

In [36]:
# 성별 음주 여부 및 흡연 상태 막대 그래프
drinking = drinking.to_frame(name='count')
drinking = drinking.reset_index()

In [37]:
gender = {1: 'male', 2: 'female'}
drinking['gender'] = drinking['gender'].map(gender)
drinking['drinking'] = drinking['drinking'].replace(0, 'Non-drinking').replace(1, 'Drinking')

   gender      drinking  count
0    male  Non-drinking    126
1    male      Drinking    356
2  female  Non-drinking    305
3  female      Drinking    213

In [40]:
drinking

   gender      drinking  count
0    male  Non-drinking    126
1    male      Drinking    356
2  female  Non-drinking    305
3  female      Drinking    213

In [38]:
smoking = smoking.to_frame(name='count')
smoking = smoking.reset_index()

In [41]:
smoking['gender'] = smoking['gender'].map(gender)
smoking_types = ['Non-smoking', 'Smoking']

In [42]:
smoking

   gender  smoking  count
0    male        1    145
1    male        2    176
2    male        3    161
3  female        1    488
4  female        2     12
5  female        3     18